<h4 class="text-center mt-2">About TurboChat</h4>
<div class="container-sm text-left col-6">
  TurboChat was written (well...okay - <strong>transcribed</strong>) while following along with this tutorial from Deanin: <a href="https://www.youtube.com/watch?v=UvTLumcEMgU"><em>Realtime Chat App With Ruby On Rails 7, Turbo, and Electron</em></a> by this old guy:<br>
  <div class="container text-center mt-2 mb-4">
    <%= avatar_for_name('David Peloso', size:('200x200')) %>
  </div>
  He is the future founder of: <span class="fst-italic">&copy;Some Guy&trade;</span>
    <span class="fw-normal"> S/W Productions</span>
</div>



<div class="container-sm text-left col-6 mt-2">
  <p>TurboChat is a web application for hosting chat sessions.</p>
  <P>With it you can:</P>
  <li> join a chat room,</li>
  <li> create a new chat room,</li>
  <li> or chat privately with one other user.</li>
  <p class="mt-2">It is written in Ruby on Rails.  It uses Turbo, Stimulus, and Redis.</p>
</div>
